<h2>Create a new Auction</h2>

<%= simple_form_for @auction do |f| %>

<%= f.input :title %>
<%= f.input :price %>
<%= f.input :end_date %>
<%= f.input :details, hint: "Puts details about your auction"%>
<%= f.submit class: "btn btn-success" %>

<% end %>
