<h2 class="text-center">Auction</h2>
<div class="well">
  <div class="">
    <h1><%= @auction.title %></h1>
  </div>
  <div class="">
    <h5>Created by: <%= @auction.user.first_name.capitalize %></h5>
  </div>
  <div class="">
    <p>Details: <%= @auction.details %></p>
  </div>
  <div class="">
    <h5>End date: <%= @auction.end_date %></h5>
  </div>
  <div class="">
    <h3>Current Price: $ <%= @current_price %></h3>
  </div>
  <p><span class="label <%=  label_class(@auction.aasm_state) %>">
    <%= @auction.aasm_state.capitalize %></span> </p>

  <% if @current_price && @current_price > @auction.price %>
    <% if @auction.published? %>
      <%= link_to "Reserve", auction_publishings_path(@auction), method: :post,
                                                        class: "btn btn-primary" %>
    <% end %>
  <% end %>
</div>

<!-- --------- bid form ----------- -->

<% if @auction.published? %>

  <div class="form-group">
    <%= simple_form_for [@auction, @bid], remote: true do |f| %>
    <%= f.input :price %>
    <%= f.submit "Create a Bid", class: "btn btn-primary btn-sm", data: {disable_with: "Saving..."} %>
    <% end %>

  </div>


  <!-- bids -->
  <div  id="bid">
      <% @auction.bids.each do |bid| %>

        <%= render "/bids/bid", bid: bid %>

      <% end %>
  </div>

<% end %>
